body
{
  margin: 0px;
}

a
{
  text-decoration: none;
  color: black;
}

h1
{
  text-align: center;
  font-size: 50px;
  padding: 30px;
  margin:0px;
}

th
{
  border: 3px solid black;
}

#grid
{
  display: grid;
  grid-template-columns: 265px 1fr;
}

#grid ul
{
  border-right: 3px black solid;
  border-left: 3px black solid;
  width:200px;
  margin: 0px;
  padding-top: 20px;
}

#article
{
  padding:15px;
}

#grid #article ul
{
  border: none;
  padding-top: 0px;
  width: 100%
}


@media(max-width:400px)
{
  #grid
  {
    display: block;
  }
  #grid ul
  {
    border-right: none;
  }
}
